.mainCard {
  min-height: calc(90vh - 144px);
  text-align: center;
}

.menuButton {
  margin-top: 16px;
}

.pit {
  margin: 4px;
  width: 50px;
  height: 50px;
}

.bigPit {
  margin: 4px;
  width: 50px;
  height: 100px;
}

.firstPlayerBigPit {
  display: flex;
  justify-content: flex-start;
}

.firstPlayerBigPit {
  display: flex;
  justify-content: flex-end;
}

.pit:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.board {
  margin-top: 32px;
}

.firstPlayerPits {
  display: flex;
  justify-content: center;
}

.secondPlayerPits {
  display: flex;
  justify-content: center;
}

.playerName {
  background-color: #f8efef;
  border-radius: 5px;
}

.counter {
  padding-top: 25px;
}