<mat-card class="mainCard">
  <h2>Game</h2>
  <mat-divider></mat-divider>
  <mat-card class="board">
    <div class="firstPlayerBigPit">
      <mat-card class="bigPit">
        <strong>Big pit</strong>
        <p class="counter">0</p>
      </mat-card>
    </div>
    <div class="playerName">
      <strong>{{secondPlayerName}}</strong>
    </div>
    <div class="firstPlayerPits">
      <mat-card class="pit" (click)="play(2, 5)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(2, 4)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(2, 3)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(2, 2)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(2, 1)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(2, 0)">
        <p class="counter">6</p>
      </mat-card>
    </div>
    <div class="secondPlayerPits">
      <mat-card class="pit" (click)="play(1, 5)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(1, 4)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(1, 3)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(1, 2)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(1, 1)">
        <p class="counter">6</p>
      </mat-card>
      <mat-card class="pit" (click)="play(1, 0)">
        <p class="counter">6</p>
      </mat-card>
    </div>
    <div class="playerName">
      <strong>{{firstPlayerName}}</strong>
    </div>
    <div class="secondPlayerBigPit">
      <mat-card class="bigPit">
        <strong>Big pit</strong>
        <p class="counter">0</p>
      </mat-card>
    </div>
  </mat-card>
  <button mat-raised-button class="menuButton" color="primary" (click)="backToMenu()">Menu</button>
</mat-card>