* {
  box-sizing: border-box;
}

.mainCard {
  min-height: calc(90vh - 144px);
  text-align: center;
}

.menuButton {
  margin-top: 16px;
}

.grid {
  width: 100%;
}

.firstPit {
  width: calc(100% / 6);
  box-shadow: inset 0 0 8px !important;
  border-radius: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: rgb(255, 192, 192)
}

.firstPit:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.secondPit {
  width: calc(100% / 6);
  box-shadow: inset 0 0 8px !important;
  border-radius: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: rgb(201, 203, 251);
}

.secondPit:hover {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.pit {
  width: calc(100% / 6);
  box-shadow: inset 0 0 8px !important;
  border-radius: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.pit:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.pits-wrapper {
  width: 100%;
}

.bigPit {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 8px !important;
  border-radius: 3px;
  margin-right: 2px;
  width: 200px;
}

.counter {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board {
  height: 300px;
  margin-top: 18px;
  display: flex;
}

.pits {
  display: flex;
  height: 50%;
}

.firstPlayerName {
  height: 50px;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 32px;
  background-color: rgb(201, 203, 251)
}

.secondPlayerName {
  height: 50px;
  padding-top: 15px;
  border-radius: 5px;
  background-color: rgb(255, 192, 192)
}

.winner {
  background: yellow;
  width: 100px;
  margin: auto;
  border-radius: 5px;
}
