<mat-card class="mainCard">
  <h2>Match</h2>
  <mat-divider></mat-divider>
  <div class="grid">
    <p class="playerName" style="margin-top: 32px;">
      {{ match?.playerTurn?.name === match?.firstPlayer?.name ? match?.secondPlayer?.name : match?.firstPlayer?.name }}
    </p>
    <mat-card class="board">
      <mat-card class="bigPit">
        <strong>Big pit</strong>
        <div class="counter">
          <p>{{ match.firstPlayerPits[6] }}</p>
        </div>
      </mat-card>
      <div class="pits-wrapper">
        <div class="pits">
          <mat-card class="pit" (click)="play(2, 5)">
            <p class="counter">{{ match.firstPlayerPits[5] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(2, 4)">
            <p class="counter">{{ match.firstPlayerPits[4] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(2, 3)">
            <p class="counter">{{ match.firstPlayerPits[3] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(2, 2)">
            <p class="counter">{{ match.firstPlayerPits[2] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(2, 1)">
            <p class="counter">{{ match.firstPlayerPits[1] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(2, 0)">
            <p class="counter">{{ match.firstPlayerPits[0] }}</p>
          </mat-card>
        </div>
        <div class="pits">
          <mat-card class="pit" (click)="play(1, 5)">
            <p class="counter">{{ match.secondPlayerPits[5] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(1, 4)">
            <p class="counter">{{ match.secondPlayerPits[4] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(1, 3)">
            <p class="counter">{{ match.secondPlayerPits[3] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(1, 2)">
            <p class="counter">{{ match.secondPlayerPits[2] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(1, 1)">
            <p class="counter">{{ match.secondPlayerPits[1] }}</p>
          </mat-card>
          <mat-card class="pit" (click)="play(1, 0)">
            <p class="counter">{{ match.secondPlayerPits[0] }}</p>
          </mat-card>
        </div>
      </div>
      <mat-card class="bigPit">
        <strong>Big pit</strong>
        <div class="counter">
          <p>{{ match.secondPlayerPits[6] }}</p>
        </div>
      </mat-card>
    </mat-card>
    <p class="playerName"> {{ match.playerTurn.name }} </p>
  </div>
  <button mat-raised-button class="menuButton" color="warn" (click)="leave()">Leave Game</button>
</mat-card>